<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img rel="icon" height="50px" width="50px" src="assets/recipe.ico" alt="resource not found"> Recipe Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/recipe">Recipes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="onMyRecipes()" style="cursor: pointer" routerLinkActive="active">My Recipes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/shopping">Shopping</a>
      </li>
    </ul>
    <div class="nav-item dropdown" >
      <button class="dropdown-toggle btn btn-dark" >{{authService.username}}</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Logout</a>
        <a class="dropdown-item" href="#">Logout</a>
        <a class="dropdown-item" href="#">Logout</a>
      </div>
      <img src="{{authService.imageUrl}}" alt="xxx" class="avatar">
    </div>
  </div>
</nav>
