<div class="container-fluid">
  <div *ngIf="EmptyRecipe(); else notEmpty">
    <h1>Please select a recepie</h1>
  </div>
  <ng-template #notEmpty>
    <div class="row" style="padding: 5px">
      <div class="col">
        <img src='{{recipe.imagePath}}' style="width:600px;height:400px;" alt="Network error">
        <div class="ingredients">
          <button class="btn btn-success" (click)="onAddToShoppingList(recipe.ingredients)">
            Add to Shopping list
          </button>
          <app-ingredients [ingredients]="recipe.ingredients" [deletable]="false"></app-ingredients>
        </div>
      </div>
      <div class="col">
        <h1>{{recipe.name}}</h1>
        <p>{{recipe.description}}</p>
      </div>
    </div>
  </ng-template>
</div>
